[Desktop Entry]
Encoding=UTF-8
Categories=Office
Exec=com-pake-bruceai
Icon=com-pake-bruceai
Name=com-pake-bruceai
Name[zh_CN]=布鲁斯AI
StartupNotify=true
Terminal=false
Type=Application
